.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  
}
.card-category a{
  color: white;
  text-shadow: 0 0 10px rgba(0,0,0,1);
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}

.cards {
  padding: 10px;
  position: relative;
}
.list-tag a{
  color: white;
  &:hover {
    color: lightgray;
    text-decoration: none;
  }
}
.card-tag {
  position: absolute;
  bottom: 25px;
  left:0px;
}

.card-tag-alc {
  position: absolute;
  bottom: 25px;
  right: 25px;
}

